@import './components/components';
@font-face {
    font-family: product-sans;
    src: url(fonts/ProductSans-Regular.ttf);
}

body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    /* FIXME: Temp. workaround for vertical scrollbars */
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}

a:link {
    color: $colorPinkA200;
    text-decoration: none;
}

img{
    height: auto;
    width: 100%;
}


/******
    *
    * Containers
    *
    *******/

.wide-container {
    max-width: 1080px;
    margin: 0 auto;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.card-container {
    max-width: 550px;
    margin: 0 auto;
}

.product-bg{
    background-color: #ffffff;
    padding: 24px;
    margin-top: 50px;
}

.product-features-area{
    height: 100%;
}

.product-title{
    margin-bottom: 48px;
}

.product-img-area{
    padding: 24px;
}

.features-text li{
    font-size: 18px;
    color: $colorGrey500;
    padding-bottom: 12px;
}

.mdl-layout__content {
    position: relative;
    background-color: $colorGrey300;
}

.features-title-area{
    background-color: $colorBlueGrey900;
    color: #ffffff;
    padding: 16px;
    display: flex;
    position: relative;

    .dropdown-btn{
        top: 50%;
        right: 16px;
    }
}

.product-buy-area{
    display: flex;
}

.product-price,
.product-dropdown-area,
.purchase-area{
    padding-left: 16px;
    margin: auto;
}

.footer .mdl-cell{
    text-align: center;
    padding: 16px;
    margin: auto;
}


/*****
*
*   Hide/show CSS
*
******/

.hide { 
    max-height: 0;
    transition: max-height 0.3s ease-in;
    overflow: hidden;
}

.show {
    max-height: 500px;
    transition: max-height 0.3s ease-in;
}

.section-spacer {
    flex-grow: 1;
}

.section-separator {
    margin-top: 34px;
}

@media all and (min-width: 990px) {
    .product-price,
    .product-dropdown-area,
    .purchase-area{
        padding-left: 16px;
        margin: auto;
    }
}